body{
    font-family: 'poppins', sans-serif;
    /* background: radial-gradient(at top left, hsl(271, 100%, 84%), hsl(223, 33%, 18%)); */
    background-image: linear-gradient(
  195deg,
  hsl(240, 20%, 5%) 0%,
  hsl(243deg 23% 16%) 24%,
  hsl(248, 24%, 26%) 34%,
  hsl(250deg 27% 36%) 44%,
  hsl(253deg 29% 46%) 53%,
  hsl(256deg 31% 56%) 64%,
  hsl(259deg 32% 67%) 77%,
  hsl(263deg 34% 77%) 100%
);
    box-sizing: 0;
    border-radius: 0;
    width: 100%;
}



.front {
    display: flex;
}

.sidebar {
    position: fixed; 
    left: 0;
    top: 0;
    bottom: 0; 
    width: 240px;
    height: 1000px;
    background: linear-gradient(hwb(300 79% 1%), hsla(269, 84%, 20%, 0.471));
    /* background-color: hwb(271 9% 64% / 0.659); */
    padding: 24px;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
  }
.sidebar >img {
    height: 5em;
    margin-top: -63em;
    /* margin-top: -40em; */
    /* margin-left: -1em; */
    
    
  }

h1 {
    text-align: center;
    font-size: 60px;
    background: -webkit-linear-gradient(hwb(271 2% 52%), #dca7f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px hwb(187 81% 13%);
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); z-index: 1;
    margin-top: -0.5em;
 }

 header {
    position: relative;
    margin-top: -0.6em;
    
 } 





h2 {
    text-align: center;
    
  }

h1 {
    width: 100%;
    text-align: center;
}

p {
    margin-left: 35px;
    margin-top: 22px;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    width: 100%;
    height: 460px;
    scroll-margin-left: 30em; 
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 2em; 
    margin-left: 288px;  
    /* border: 2px solid yellow; */
    border-radius: 17%;
  }

  .pic-and-name {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
  } 
  
  .play-button {
    margin-top: -1.75em;
  }

  .content-container {
    height: 300px;
    background:url("../assets/Schermafbeelding\ 2023-09-20\ om\ 16.48.22.png");
    background:url("../assets/Schermafbeelding\ 2023-09-21\ om\ 11.59.47.png");
    background:url("../assets/tame-impala\ 2023-09-21\ om\ 12.08.25.png");
    background:url("../assets/j-cole\ 2023-09-21\ om\ 12.12.28.png");
    background:url("../assets/21-savage\ 2023-09-21\ om\ 12.29.44.png");
    background:url("../assets/parasite2023-09-21\ om\ 12.43.15.png");
    background:url("../assets/neckdeep\ 2023-09-21\ om\ 13.04.30.png");
    background:url("../assets/KA-rs6\ 2023-09-21\ om\ 13.23.23.png");
    background:url("../assets/Schermafbeelding\ 2023-09-21\ om\ 13.33.52.png");
    background:url("../assets/HER\ 2023-09-21\ om\ 13.41.34.png");
    background:url("../assets/code-fry2023-09-21\ om\ 14.06.21.png");
    background-size: cover;
    line-height: 180px;
    text-align: center;
    color: rgb(218, 122, 122);
    font-size: 5vh;
     box-shadow: 0 8px 10px 0 #041011f6;
    border-radius: 50px;
    
  }

  .container div:nth-of-type(4) .content-container {
    background:url("../assets/Schermafbeelding\ 2023-09-18\ 173545.png");
    background-size: cover;
    background-position: center;
  }

  .container div:nth-of-type(1) .content-container {
    background: url("../assets/Schermafbeelding\ 2023-09-21\ om\ 11.59.47.png");
    background-size: cover;
    
  }

  .container div:nth-of-type(2) .content-container {
    background: url("../assets/tame-impala\ 2023-09-21\ om\ 12.08.25.png");
    background-size: cover;
}

  .container div:nth-of-type(3) .content-container{
    background: url("../assets/j-cole\ 2023-09-21\ om\ 12.12.28.png");
    background-size: cover;


}

  .container div:nth-of-type(5) .content-container{
    background: url("../assets/21-savage\ 2023-09-21\ om\ 12.29.44.png");
    background-size: cover;

  }

  .container div:nth-of-type(4) .content-container{
    background: url("../assets/parasite2023-09-21\ om\ 12.43.15.png");
    background-size: cover;
  }

 .container div:nth-of-type(6)  .content-container{
    background: url("../assets/neckdeep\ 2023-09-21\ om\ 13.04.30.png");
    background-size: cover;
 }

.container div:nth-of-type(7)  .content-container{
    background: url("../assets/KA-rs6\ 2023-09-21\ om\ 13.23.23.png");
    background-size: cover;
}

.container div:nth-of-type(10)   .content-container{
    background: url("../assets/Schermafbeelding\ 2023-09-21\ om\ 13.33.52.png");
    background-size: cover;

}

.container div:nth-of-type(8)   .content-container{
    background: url("../assets/HER\ 2023-09-21\ om\ 13.41.34.png");
    background-size:cover;
}

.container div:nth-of-type(9)    .content-container{
    background: url("../assets/code-fry2023-09-21\ om\ 14.06.21.png");
    background-size: cover;

}


  /* .content-container__img {
    height: 80%;
  }

  .content-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .content-container h2 {
    margin: 1rem 0 0 0;
    line-height: 1.1;
    font-size: 1em;
  }
  
  .column {
    padding: 0 10px;
    box-sizing: border-box;
    flex: 25%;
    max-width: 25%;
  }

  
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 400px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .content-container:hover {
    background: rgba(163, 120, 243, 0.757);
  }
  
   .parent { 
     display: grid; 
     grid-template-columns: repeat(3, 1fr); 
     grid-template-rows: repeat(9, 1fr); 
    grid-column-gap: 0px; 
     grid-row-gap: 0px; 
     } 
    