body{
    font-family: 'poppins', sans-serif;
    background: linear-gradient(hwb(350 38% 20%), #920b4a);
   box-sizing: 0;
   border-radius: 0;


}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    background-color: hsla(268, 81%, 40%, 0.604);
    padding: 24px;
  }
  .sidebar >img {

    height: 5em;
    margin-top: -40em;
  }

  h1{
    text-align: center;
    font-size: 4em;
    
  }

h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
   
  }
  
  .flex-container {
    width: 100%;
    scroll-margin-left: 30em;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 11em;
    margin-left: 10em;
    
    
    
  }
  
  .content-container {
    height: 300px;
    background: hsla(270, 72%, 58%, 0.733);
    line-height: 180px;
    text-align: center;
    color: white;
    font-size: 5vh;
    width: 300px;
    margin: 50px 0;
    box-shadow: 0 7px 9px 0 #0000008c;
    border-radius: 8px;
  }

  



  
  
  .column {
    padding: 0 10px;
    box-sizing: border-box;
    flex: 25%;
    max-width: 25%;
  }

  
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 400px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  .content-container:hover {
    background: hwb(332 5% 6%);
  }
  